/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.06.2014, 21:18:54
    Author     : linn
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:before,
.clearfix:after{
    display: table;
    content: " ";
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}
body{
    background: #ebe892;
}

.wrapper{
    width: 745px;
    height: 1045px;
    padding: 0 10px 10px 0;
    color: #000000;
    background: #ffffff;
}
.wrapper-card2{
    width:1084px;
    padding: 0 10px;
}
.wrapper-inside{
    position: relative;
    padding-left: 10px;
    border-right: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
    width: 724px;
    height: 1034px;
    border-left: 1px dotted #ababab;
    margin: 0 0 0 10px;
}
.border-right-bottom{
    border-right: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
    width: 724px;
    height: 1034px;
}
.cut-line{
    height: 10px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    font-family: arial;
    font-size: 12px;
    background: #ffffff;
    left: -8px;
    font-style: italic;
    padding: 0 5px;
}
.for-sender{
    font-weight: bold;
    left: 2px;
    font-size: 13px;
    top: 577px;
    width: 372px;
    height: 13px;
    background: none;
}
.for-sender-right{
    font-weight: bold;
    /*right: 2px;*/
    left: 706px;
    font-size: 13px;
    top: 490px;
    width: 372px;
    height: 13px;
    background: none;
}
/*.cut-line-wrapper{
    width: 10px;
    height: 1034px;
    position: absolute;
    left: 0;
    top: 0;

}*/

.rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    /* Rotate from top left corner (not default) */
    -webkit-transform-origin: 0 0;
    -moz-transform-origin:    0 0;
    -ms-transform-origin:     0 0;
    -o-transform-origin:      0 0;

    /* Should be unset in IE9+ I think. */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    writing-mode: tb-rl; /* для IE ниже 9 */
    transform-origin: top left;

}
.top-row{
    height: 228px;
    width: 100%;
    padding: 0 0 0 25px;

}
.stamp-wrapper {
    width: 180px;
}
.logo{
    background: url(img/logo.png) 0 0 no-repeat;
    width: 85px;
    height: 93px;
    margin: 17px 33px 0 0;
}
.logo-card2{
    margin: 1px 21px 0 0;
}

.reception{
    width: 16px;
    line-height: 22px;
    font-size: 18px;
    text-transform: uppercase;
    /*background-color: #ffffc9;*/
    font-family: 'Times New Roman';
    margin: 17px 0 0 0;
    text-align: center;
    font-weight: bold;
}
.post{
    font-family: 'Times New Roman';
    margin: 10px 0 0 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -1px;
    /*font-family: 'PT Serif', serif;*/
    /*font-family: Courier, "Courier New", monospace;*/
    /*font-family:Georgia, serif;*/
    /*font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;*/
}
/*.*/
.bordered-row{
    border-top: 1px solid #000;

}
.font-13{
    font-size: 13px;
    text-align: center;
    height: 13px;
    line-height: 13px;
}
.font-12{
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
}
.font-11{
    font-size: 11px;
    text-align: center;
}
.label{
    background: #ffffff;
    width: auto;
    height: 15px;
    /* outline: 1px solid; */
    z-index: 55;
    position: relative;
    display: inline-block;
    padding-right: 3px;
    /*font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;*/
    font-size: 16px;
    font-family:Georgia, serif;
}
.bordered-row-top{
    margin-top: -5px;
    z-index: 1;

}
.dotted-left-bottom{
    border-left: 2px dotted #c9c9c9;
    border-bottom: 2px dotted #c9c9c9;
}
.f-wrapper{
    border-bottom-left-radius: 4px;
    position: relative;
    height: 225px;
    width: 500px;
}
.f{
    margin: 10px 10px 0 0;
    font-weight: bold;
}
.bold-border{
    /*    border: 3px solid #000000;
        width: 696px;
        margin: 0 auto;*/
    border: 4px solid #000000;
    width: 691px;
    margin: 0 auto 0 7px;
}
.bold-border-header-yellow{
    width: 664px;
    margin: 0 auto;
    background: #fff300;
}
.capsed-text{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin: 0 5px 0 0;
}
.medium-bold-text{
    font-size: 18px;
    font-weight: bold;
}
.underlined-text-italic{
    font-style: italic;
    border-bottom: 1px solid #000000;
    /*font-size: 22px;*/
    font-size: 20px;
    line-height: 18px;
    margin: 2px 2px 0 3px;
    text-align: center;
}
.underlined-40{
    width: 40px;
}
.underlined-90{
    width: 90px;
}
.stripes{
    background: url(img/stripes.png) 0 0 repeat-x;
    height: 30px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-style: italic;
    padding: 0 0 4px;
    font-size: 25px;
    line-height: 23px;
    text-align: center;
    width: 664px;
    margin: 1px auto 0 auto;
}
.row-label{
    height: 30px;
    /*line-height: 35px;*/
    line-height: 42px;
    font-weight: bold;
    margin: 0 2px 0 10px;
}
.italic-form-text{
    height: 30px;
    font-style: italic;
    font-size: 27px;
    line-height: 28px;
    border-bottom: 1px solid #000000;

    text-align: left;
}
.italic-text-wrapper{
    width: 614px;
}
.bordered-row-28{
    border-bottom: 1px solid #000000;
    height: 28px;
    margin: -12px auto 0 auto;
    width: 664px;
    font-style: italic;
    font-size: 27px;
    line-height: 9px;
}
.no-border{
    border: none;
}
.bold-border-index{
    border: 2px solid #000;
    border-bottom: 1px solid #000;
    height: 28px;
    width: 516px;
    margin: 0 0 0 3px;
    font-style: italic;
    text-align: center;
    font-weight: bolder;
    font-size: 13px;
}
.inn-wrapper{
    width: 677px;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 0 2px;
    margin: -2px auto 3px 3px;
}
.index-wrapper{
    border-top: 1px solid #000000;
    height: 28px;
    width: 160px;
    border-bottom: 2px solid #000;
}
.index-text{
    text-align: right;
    font-size: 13px;
    padding: 0 1px 6px 0;
    line-height: 20px;
    width: 57px;

}
.number-wrapper{
    /*width: 103px;*/
    width: auto;
    border-left:1px solid #c0c0c0;
}
.index-number{
    font-size: 23px;

    width: 17px;
    height: 24px;
    line-height: 24px;
    border-top:1px solid #c0c0c0;
    border-right:1px solid #c0c0c0;
    margin: 1px 0 0 0;
    text-align: center;
}
.cursive{
    font-style: italic;
}

.inn-row{
    border-bottom: 1px solid #000;
    padding: 21px 0 0 0;
    width: 100%;
    height: 47px;
}
.bank-name-row{
    height: 28px;
    padding: 0;
}
.inn, .bank-name,.big-bank-name{
    height: 28px;
    line-height: 38px;
    font-size: 19px;
    font-style: italic;
    font-weight: bold;
    margin: 0 5px 0 0;
}
.big-bank-name{
    font-size: 28px;
    line-height: 31px;
    font-weight: normal;
}
.cor{
    margin: 0 5px 0 15px;
}
.margin-bottom-3{
    margin-bottom: 3px;
}
.payment-row{
    padding: 21px 27px 16px 27px;
}
.payment-text-wrapper{
    /*width: 134px;*/
    margin: 5px 24px 0 0;
}
.payment-text-small{
    width: 99px;
    font-size: 17px;
    font-family: arial;
    text-align: right;
}
.rpo{
    font-size: 26px;
    text-transform: uppercase;
    /*font-weight: bold;*/
    font-family: arial;
}
.za-rpo{
    width: auto;
    line-height: 30px;
    line-height: 38px;
    margin: 0 10px 0 0;
}
.rpo-dotted{
    border: 2px dotted #d7d7d7;
    padding: 24px 30px;
    font-size: 30px;
}
.sign-wrapper{
    width: 137px;
    margin: -5px 0 0 0;
}
.sign-row{
    border-bottom: 1px solid #000;
    height: 38px;
    width: 100%;
}
.bold-cursive-14{
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
    height: 16px;
}
.big-dashed{
    border: 4px dashed #000;
    height: 332px;
    width: 692px;
    margin: 0 auto 3px 5px;
    padding: 0 5px;
}
.border-row{
    border-bottom: 2px solid #000;
    height: 31px;
}
.fio-inn-wrapper{
    border-bottom:none;
    width: auto;
    margin: 5px 0 -3px 13px;
    border-top: none;
}
.fio-inn-text{
    font-style: italic;
    width: 60px;
    font-size: 11px;
    line-height: 12px;
}
.fio-form-text{
    border: none;
    line-height: 34px;
}
.big-dashed-row{
    height: 32px;
    /* line-height: 35px; */
    line-height: 42px;
    /*font-weight: bold;*/
    margin: 0 2px -4px 0;
    padding: 0 0 0 5px;
}
.address-text-wrapper{
    width: 520px;
}
.form-text-second-row{
    line-height: 9px;
}
.docs-cell-wrapper{
    width: 669px;
    margin: 1px 2px 0 4px;
    border: 1px solid #000000;
}
.docs-row{
    /*border-bottom: 1px solid #000000;*/
}
.docs-cell{
    padding: 0 7px;
}
.docs-text{
    font-size: 14px;
    margin: 0 2px 2px 0;
    padding: 0;
}
.doc-name{
    height: 25px;
    border-bottom: 1px solid #000;
}
.docs-name-wrapper{
    width: 180px;
}
.seria-wrapper{
    width: 87px;
    margin: 0 2px 0 0;
}
.docs-number-wrapper{
    width: 100px;
    margin: 0 2px 0 0;
}
.width-25{
    width: 25px;
    margin: 0 2px 0 0;
}
.width-45{
    width: 45px;
    margin: 0 2px 0 0;
}
.docs-row .row-label{
    font-weight: normal;
}
.docs-row-bottom{
    margin-top: -7px;
}
.nerezident{
    text-decoration: underline;
    font-style: italic;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    margin: 0 0 -10px 0;
    position: relative;
    z-index: 999;
}
.border-top{
    border-top: 2px solid #000000; 
}
.underlined{
    text-decoration: underline;
}
.bottom-sign{
    margin: 0 0 0 246px;
}
.bottom-sign-wrapper{
    margin: 8px 0 0 6px;
}




/*вторая карточка*/

.left-side{
    width: 360px;
    padding: 2px 20px 0 0;
    float: left;
    height: 1045px;
}
.right-side{
    width: 703px;
    height: 1045px;
    float: left;
    border-left: 1px dotted #c9c9c9;
}
.cut-line-360{
    left: 363px;
}
.left-side-row-label{
    margin: 0;
    height: 31px;
    line-height: 42px;
    font-weight: bold;
    background: #ffffff;
    width: auto;
    z-index: 55;
    position: relative;
    display: inline-block;
    padding-right: 3px;
    font-size: 16px;
    font-family: Georgia, serif;
}
.ticket-wrapper{
    margin: 17px 10px 0 26px;
    text-align: center;
}
.ticket-small-text{
    font-weight: bold;
    font-size: 16px;
}
.ticket-rub{
    width: 92px;
    margin: 0 2px 0 0;
}
.ticket-kop{
    width: 70px;
}
/*.notification{
     width: 92px;
}*/
.notification-label{
    font-weight: normal;
}
.notification-row{
    width: 170px;
}
.bold{
    font-weight: bold;
}
